{% extends 'main.html' %}

{% block content %}

<main class="layout layout--3">
  <div class="container">

    <!-- Topics Start -->
    {% include 'pages/topics_component.html' %}
    <!-- Topics End -->

    <!-- List of Lists Start -->
    <div class="listList">
      <!-- TODO: This should appear only in mobile view -->
      <div class="mobile-menu">
        <form action="{% url 'home' %}" method="GET" class="header__search">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>Search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
              </path>
            </svg>
            <input name="q" placeholder="Search for lists" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Browse Topics</a>
          <a class="btn btn--main btn--pill" href="{% url 'who_to_follow' %}">Who To Follow</a>
        </div>
      </div>

      <div class="listList__header">
        <div>
          <h2>Lists & Threads</h2>
          <p>{{list_count}} Lists available</p>
          <a class="btn btn--main btn--pill" href="{% url 'home' %}">Latest</a>
          {% if request.user.is_authenticated %}
          <a class="btn btn--main btn--pill" href="{% url 'custom_home' 'follow_true' 'top_voted_false'%}">Follow List</a>
          {% endif %}
          <a class="btn btn--main btn--pill" href="{% url 'custom_home' 'follow_false' 'top_voted_true'%}">Popular</a>
        </div>

        <a class="btn btn--main" href="{% url 'create_list' %}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>Add</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z">
            </path>
          </svg>
          Create List
        </a>
      </div>

      {% if request.session.access_token %}
        <script>
          var data = {
              access_token: "{{ request.session.access_token }}"
          };
          localStorage.setItem('token', data.access_token);
        </script>
      {% endif %}

      {% include 'pages/feed_component.html' %}

    </div>
    <!-- List of Lists End -->

    <!-- Who To Follow Start -->
    {% include 'pages/who_to_follow_component.html' %}
    <!-- Who To Follow End -->
  </div>
</main>

{% endblock %}