{% extends 'main.html' %}

{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">

    <!-- List of Lists Start -->
    <div class="listList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          {% if request.user == user %}
          <a href="{% url 'update_user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <form method="POST">
          {% csrf_token %}
          {% if user.is_authenticated and request.user.is_authenticated and user != request.user %}
              {% if is_following %}
                  <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1"  type="submit">
                      Unfollow 
                  </button>
              {% else %}
                  <button class="btn btn-primary rounded-pill my-1 mx-1 py-1 py-1" type="submit">
                      Follow 
                  </button>
              {% endif %}
          {% endif %}
        </form>
        <div class="profile__about">
          <ul class="about">
            {% if user.followers.count <= 1 %}
                <li><span>{{ user.followers.count }}</span> Follower</li>
            {% else %}
                <li><span>{{ user.followers.count }}</span> Followers</li>
            {% endif %}
            <li><span>{{ user.following.count }} </span>Following</li>
            {% if lists_count <= 1 %}
                <li><span>{{ lists_count }} </span>List</li>
            {% elif lists_count >= 2 %}
                <li><span>{{ lists_count }} </span>Lists</li>
            {% endif %}
          </ul> 
          <h3>About</h3>
          <p>
            Social: <a href="{{user.social}}">{{user.social}}</a>
          </p>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>

      <div class="listList__header">
        <div>
          <h2>Lists & Threads made by {{user.name}}</a>
          </h2>
        </div>
      </div>
      {% include 'pages/feed_component.html' %}


    </div>
    <!-- List of Lists End -->

    <!-- Who To Follow Start -->
    {% include 'pages/saved_lists_component.html' %}
    <!-- Who To Follow End -->
  </div>
</main>
{% endblock content %}