<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="shortcut icon" href="assets/TODO.svg" type="image/x-icon" /> -->
    <!-- <link rel="stylesheet" href="{% static 'styles/TODO.css' %}" /> -->
    <title>Sapiens Link</title>
</head>

<body>

    {% include 'navbar.html' %}

    {% if comments %}
    <ul class="comments">
        {% for comment in comments %}
        <li>{{ comment }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}

    <!-- <script src="{% static 'js/TODO.js' %}"></script> -->
</body>

<footer>
    <a href="{% url 'index' %}">SapiensLink</a>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'contacts' %}">Contacts</a>
</footer>

</html>